:root{
    --mainColor:#606856;
    --secondaryColor:#515a48;

    --bordercolor:#161914;
    --mainText:#fff;
    --secondaryText: #eeeeee;
    --themeBorder: #fff;
    --previewBackGround: rgb(81,90,72,0.8);
    --shadowColor:#2a2f25;
    --buttonColor:#669966;

}